.header {
  background-image: url("../../assets/home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: left;
  align-items: center; 
  text-align: center;
}

@media screen and (max-width: 960px) {
  .header {
    margin-top: 0;
    height: 100vh;
    justify-content: center; 
  }
}

.produtos {
  padding: 0 20px; 
  width: 100%; 
  max-width: 580px; 
  text-align: center;
}

.produtos h2 {
  color: rgb(255, 255, 255);
  font-family: 'B612';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px; 
}

.produtos button {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  background: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  margin: 20px auto; 
  padding: 30px 120px; 
  cursor: pointer;
}
