.container{
  box-sizing: border-box;
}

.title{
  font-size: 45px;
  text-align: center;
}

.text-subtitle{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text-block{
  font-size: 20px;
  padding-bottom: 3px;
}

.div-content{
  display: flex;
  width: 100%;
  min-height: 40vh;
  margin-top: 10vh;
  background-color: rgb(250, 0, 255);
  padding: 40px 30px;
}



.div-content:after {
  content: "";
  display: table;
  clear: both;
}

.column{
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%;
}

.contact-info{
  align-self: center;
}

.text-content-highlight{
  font-weight: 600;
  width: fit-content;
}

.text-content-info{
  width: fit-content;
}


@media screen and (max-width: 880px) {
  .div-content{
    display: table;
    margin-top: 10vh;
    padding: 25px 15px;
  }

  .title{
    font-size: 30px;
  }
}